body {
	min-width:960px;
	font-size:14px;
	line-height:24px;
	font-weight:700;
	font-family:"PT Sans Narrow","Arial",sans-serif;
	color:#ffffff;
	text-transform:uppercase;
	background:#000000 url("../img/index-fon.jpg") no-repeat center top; 
}
.main-header {
	color:#ffffff;
	background-color:#000000;
	margin-bottom:60px;
}
.container {
	width:940px;
	padding:0 10px;
	margin:0 auto;
}
.clearfix::after {
	content:"";
	display:table;
	clear:both;
}
.main-navigation ul {
	float:left;
	list-style:none;
	padding:0;
	margin:0;
	font-size:0;
}
.main-navigation li {
	display:inline-block;
	vertical-align:top;
	font-size:16px;
	line-height:20px;
}
.main-navigation a {
	position:relative;
	display:block;
	padding:25px 20px;
	color:#ffffff;
	text-decoration:none;
}
.main-navigation a:hover,.main-navigation a:active  {
	background:#242424;
}
.active-page::after {
	content:"";
	position:absolute;
	bottom:0;
	left:20px;
	height:4px;
	width:56px;
	background-color:#ffffff;	
}
.user-block {
	float:right;
	max-width:140px;
}
.login {
    position:relative;
	display:inline-block;
	padding:25px 20px;
	padding-left:50px;
	font-size:16px;
	line-height:20px;
	color:#ffffff;
	text-decoration:none;
	vertical-align:top;
}
.login::before {
	content:"";
	position:absolute;
	width:18px;
	height:18px;
	top:28px;
	left:20px;
	background:transparent url("../img/sprite.png") no-repeat -15px -15px;
	opacity:0.3;
}
.login:hover {
	background:#242424;
}
.login:hover::before {
	opacity:1;
}
.index-logo {
	width:368px;
	height:204px;
	margin:auto;
	margin-bottom:25px;
}
.index-logo img {
	width:368px;
	height:204px;
}
.features {
	margin-bottom:80px;
}
.features-item {
	float:left;
	width:300px;
	margin-right:20px;
	text-align:center;
}
.features-item:last-child {
	margin-right:0;
}
.features-name {
	display:block;
	position:relative;
	font-size:30px;
	line-height:42px;
	padding-bottom:35px;
	margin-bottom:30px;
}
.features-name::after {
	content:"";
	position:absolute;
	bottom:0;
	left:50%;
	margin-left:-10px;
	width:20px;
	height:20px;
	background-color:#ffffff;
	transform:rotate(45deg);
}
.features-item p {
	margin:10px;
	margin-bottom:0;
}
.index-content {
	padding:50px 80px;
	margin-bottom:35px;
	color:#000000;
	background:url("../img/razdelitel.jpg") no-repeat center,
	#f8f5f2 url("../img/content-fon.png");
}	
.index-content-left {
    float:left;
    width:380px;
}
.index-content-right {
    float:right;
    width:300px;
}
.index-content-title {
	margin:0;
	margin-bottom:25px;
	font-size:30px;
	line-height:42px;
}
.index-content p {
    margin:0;
    margin-bottom:25px;
}
.news-preview {
    margin:0;
    padding:0;
    padding-right:35px;
    list-style:none;
}
.news-preview li {
    margin-bottom:25px;
}
.news-preview p {
    margin-bottom:0;
}
.news-preview time {
    text-transform: none;
}
.btn {
	display: inline-block;
    padding: 10px 33px;
	margin-right: 16px;
	vertical-align:top;
    text-align:center;
    font-weight:700;
    font-size:14px;
    line-height:24px;
    font-family:"PT Sans Narrow", "Arial", sans-serif;
    color:#ffffff;
    text-transform:uppercase;
    text-decoration:none;
    background-color:#000000;
    cursor:pointer;
}
.btn:hover,.btn:active {
    background-color: #663d15;
}
.btn.disabled,.btn:disabled {
    cursor:default;
    opacity:0.5;
}
.btn.disabled:hover,.btn:disabled:hover {
    background-color:#000000;
}
.gallery {
    position:relative;
    height:260px;
}
.gallery-content img {
  width:286px;
  height:164px;
}
.gallery-content {
    height:164px;
    margin:0;
    background-color:#cccccc;
    border:7px solid #ffffff;
}
.gallery-content img {
    width:286px;
    height:164px;
}
.gallery .btn {
    position:absolute;
    bottom:0;
    width:140px;
    margin:0;
}
.gallery-prev {
    left:0;
}
.gallery-next {
    right:0;
}
.appointment-form  input {
	float:left;
	width:106px;
	padding:7px 15px;
	margin-right:20px;
	margin-bottom:20px;
	border:2px solid #000000;
    font-size:14px;
    line-height:24px;
    font-family:"PT Sans Narrow", "Arial", sans-serif;
    color:#000000;
    text-transform:uppercase;
    background-color:#f9f6f3;	
}
.appointment-form  input:nth-child(2n) {
	margin-right:0;
}
.appointment-form input:focus {
    border:2px solid #663d15;
}
.appointment-form .btn {
  clear:both;
  width:100%;
}   
.logo {
	display:block;
	float:left;
	width:120px;
	padding-left:20px;
	padding-top:23px;
	margin-right:10px;
}
.logo img {
	width:111px;
	height:24px;
}
.catalog-title {
	margin:0;
	font-size:30px;
	color:#000000;
}
.description-title {
	margin:0;
	margin-bottom:35px;
	font-size:24px;
    color:#000000;	
}
.breadcrumbs {
	margin:0;
	margin-top:30px;
	margin-bottom:60px;
	padding:0;
	list-style:none;	
}
.breadcrumbs li {
	display:inline-block;
	vertical-align:top;
	font-size:14px;
}
.breadcrumbs a {
	position:relative;
	display:block;
	padding-right:40px;
	color:#000000;
	text-decoration:none;
}
.breadcrumbs a::after {
	content:"";
	position:absolute;
	width:8px;
	height:8px;
	top:8px;
	right:15px;
	background-color:#000000;
	transform:rotate(45deg);
}
.breadcrumbs .active {
	color:#939393;
}
.features-left {
	float:left;
	width:217px;
	margin-right:20px;
}
input[type="checkbox"] {
	display:none;
}
.producers {
	margin-bottom:55px;
}
input[type="checkbox"]+label {
	position:relative;
	display:block;
	padding-left:45px;
	margin:10px 0;
	color:#000000;
	cursor:pointer;
}
input[type="checkbox"]+label::before {
	content:"";
	position:absolute;
	left:0;
	top:2px;
	width:16px;
	height:16px;
	border:2px solid #000000;
	background-color:#f9f6f3;
}
input[type="checkbox"]:checked+label::after {
	content:"";
	position:absolute;
	width: 12px;
    height: 12px;
	left:4px;
	top:6px;
	background:url("../img/sprite.png") no-repeat;
    background-position: -211px -15px;
}
input[type="radio"] {
	display:none;
}	
input[type="radio"]+label {
	position:relative;
	display:block;
	margin:10px 0;
	padding-left:45px;
	color:#000000;
	cursor:pointer;  
}
input[type="radio"]+label::before {
	content:"";
	position:absolute;
	left:0;
	top:2px;
	width:16px;
	height:16px;
	border:2px solid #000000;
	border-radius:50%;
	background-color:#f9f6f3;
}
input[type="radio"]:checked+label::after {
	content:"";
	position:absolute;
	left:6px;
	top:8px;
	width:8px;
	height:8px;
	border-radius:50%;
	background-color:#000000;
}
.btn-show {
	margin-top:45px;
	padding:10px 33px;
	text-align:center;
	font-size:13px;
	line-height:23px;
	font-weight:700;
	font-family:"PT Sans Narrow", "Arial", sans-serif;
	color:#ffffff;
	text-transform:uppercase;
	background-color:#000000;
	cursor:pointer;
}
.btn-show:hover,.btn-show:active {
	background-color: #663d15;
}
.features-right {
	float:right;
	width:703px;
}
.products {
	float:left;
	width:221px;
	height:287px;
	margin-right:20px;
	margin-bottom:20px;
	background-color:#ffffff;
	box-shadow:0 0 20px 0 #939393;
}
.products:nth-child(3n){
	margin-right:0;
}
.product-image img {
	width:220px;
	height:165px;
}
.product-name a {
	display:block;
	margin-top:-5px;
    padding:12px 17px;
	font-size:14px;
	line-height:18px;
	font-weight:700;
	font-family:"PT Sans Narrow", "Arial", sans-serif;
	text-decoration:none;
	text-transform:none;
	color:#000000;
	background-color:#ffffff;
}
.product-buy {
	margin:0 17px;
	margin-bottom:15px;
}
.product-price {
	float:left;
	width:109px;
	padding:12px 0;
	font-size:14px;
	color:#000000;
	text-align:center;
	background-color:#939393;
}
.btn-buy {
	display:block;
	float:left;
	width:78px;
	padding:12px 0;
	font-size:14px;
	color:#ffffff;
	text-decoration:none;
	text-align:center;
	background-color:#000000;
}
.btn-buy:hover,.btn-buy:active {
	background-color: #663d15;
}
.pages {
	clear:both;
	margin:0;
	padding:0;
	padding-top:25px;
	list-style:none;
	font-size:0;
}
.pages li {
	display:inline-block;
	margin-right:7px;
	vertical-align:top;
}	
.pages a {
	display:block;
	width:19px;
	height:19px;
	padding:12px;
	font-size:14px;
	font-weight:700;
	text-decoration:none;
	text-align:center;
	color:#ffffff;
	background-color:#000000;
	cursor:pointer;
}
.pages .active {
	background-color:#ffffff;
	color:#000000;
}
.pages a:hover {
	background-color:#663d15;
}
.side-left {
	float:left;
	width:460px;
	margin-right:90px;
}
.big-image {
	margin-bottom:20px;
}
.big-image img {
	width:460px;
	height:498px;
}
.gallery img {
	box-shadow:0 0 20px 0 #939393;
}
.side-left ul {
	padding:0;
	margin:0;
	list-style:none;
}
.side-left li {
	float:left;
	margin-right:20px;
	vertical-align:top;
}
.side-left li:last-child {
	margin-right:0;
}
.side-left a {
	display:block;
	width:140px;
	height:149px;
}
.side-right {
	float:right;
	width:390px;
	padding-top:20px;
	color:#000000;
}
.product-details {
	margin-bottom:25px;
}
.availability {
	float:left;
}
.product-code {
	float:right;
	color:#939393;
}
.description .product-buy {
	margin:0;
	margin-top:40px;
	margin-bottom:65px;
}
.description ul {
	margin:0;
	padding:0;
	padding-top:20px;
	list-style:none;
}
.description li {
	position:relative;
	padding-left:20px;
}
.description li::before {
	content:"";
	position:absolute;
	left:0;
	top:7px;
	width:8px;
	height:8px;
	background-color:#000000;
	transform:rotate(45deg);
}
.main-footer {
    margin-top:50px;
	padding-top:60px;
	padding-bottom:40px;
	color: #ffffff;
	background:#252525 url("../img/footer-fon.png");
}
.main-footer p {
	margin:0;
}
.footer-contacts {
	float:left;
	width:310px;
	margin-right:90px;
}
.footer-contacts a {
	color:#ffffff;
}
.footer-contacts a:hover {
    text-decoration:none;
}
.footer-social {
	float:left;
	min-width:141px;
	text-align:center;
}
.footer-social p {
	margin-bottom:15px;
}
.footer-social ul {
	margin:0;
	padding:0;
	list-style:none;
	font-size:0;
}
.footer-social li {
	display:inline-block;
	margin-right:6px;
	vertical-align:top;
}
.footer-social li:last-child {
	margin-right:0;
}
.social-btn {
	display:block;
	width:43px;
	height:43px;
    background:#000000 url("../img/sprite.png") no-repeat center;
	font-size:0;
	text-decoration:none;
	transition:background-position 0.5s,background-color 0.5s;
}
/*.social-btn:hover {
    background-color:#ffffff;
}*/
.social-btn-vk {
	background-position:-147px -1px;
}
.social-btn-fb {
	background-position:-47px -5px;
}
.social-btn-inst {
	background-position:-93px -4px;
}
.footer-copyright {
	float:right;
	width:140px;
}
.footer-copyright p {
	margin-bottom:15px;
	text-align:center;
}
.footer-copyright .btn {
	margin-right:0;
	padding:10px 20px;
}
.footer-copyright .btn:hover {
    color:#000000;
    background-color:#ffffff;
}
	





